header{
    display: grid;
    grid-column: 2/6;
    grid-row: 1/2;
    align-items: center;
    color: white;
    text-align: left;
    box-sizing: border-box;
    height: 100%;
    padding: 10px;
    background-image: url("/workspace/image/head.jpg");
    background-repeat : no-repeat;
    background-size : cover;
    width: 100%;
    font-size:30px;
}
header a{
    text-decoration-line:none;
}
