.page-footer {
    grid-area: 5 / 1 / 6 / 6;
    background-color: #131c4a;
    color: white;color: white;
    font-weight: 600;
    text-align: center;
    box-sizing: border-box;
    height: 100%;
    padding: 10px;  
}
.information{
    list-style-type: none;
    /* line-height: 50px; */
}
.team_members{
    list-style-type: none;
    /* line-height: 20px; */
}
#copyright{
    width: 100%;
    height: 50px;
    text-align: center;
    color: white;
    background-color: #020f1d;
}
#copyright>p{
    padding: 15px;
    margin: 0;
}
