header{
    display: grid;
    grid-column: 1/6;
    grid-row: 1/2;
    align-items: center;
    color: white;
    text-align: left;
    box-sizing: border-box;
    height: 200px;
    width: 100%;
    padding: 10px;
    background-image: url("/workspace/image/head.jpg");
    background-repeat : no-repeat;
    background-size : cover;
    font-size:30px;
}
header a{
    text-decoration-line:none;
    padding: 50px;
}
header a:visited {
    color: white;
    }
header a:hover {
        color: #ccc;
    }