body{
    width: 1600px;
    margin: 0 auto;
}
main{
    background-color: #f5f1eb;
    width : 700px;
    height: 700px;
}
article{
    background-color: white;
    width:600px;
    height: 600px;
    font-size:20px;
    margin-left: 100px;
}
button{
    border:1px solid #90e0ef;
    width: 90px;
    height: 30px;
    border-radius: 20px;
    background-color: white;
}
.button_up{
    background-color: #90e0ef;
}
a{
    text-decoration: none;
    color: black;
}
h2{
    font-size: 50px;
    margin-left: 100px;
}
button:hover{
    background-color: #d6edf5;
}
main>h2{
    margin-bottom: 30px;
}
article{
    line-height: 50px;
}
.contents{
    background-color: #d6edf5;
    width:450px;
    height: 450px;
    border-radius: 20px;
    
}
article span{
    text-decoration: underline;
    text-underline-offset: 10px;
}

