body {
    max-width: 1800px;
    max-height: 1400px;
    margin: 0 auto;
    /* height: 100vh; */
}
.all{
    width:100%;
    height: 1000px;
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin:auto;
}
main{
    grid-column: 1/5;
    grid-row: 2/6;
    background-color: #f5f1eb;
    width : 1400px;
    height: 100%;
}
.main_form{
    background-color: #ffffff;
    width:800px;
    height: 600px;
    margin : auto;
    border-radius: 20px;
    padding-top: 50px;
    padding-left: 50px;
    margin-top: 60px;
    line-height: 50px;
    box-shadow: 1px 1px 5px #ccc;
}
input{
    border:none;
    border-bottom: 1px solid black;
}
input:focus{
    outline: none;
}
.button_group{
    display: flex;
    justify-content: flex-end;
    margin: 20px 350px 0  0;
}
button{
    border:1px solid #90e0ef;
    width: 100px;
    height: 30px;
    border-radius: 20px;
}
.button_write{
    background-color: #90e0ef;
    margin-right: 10px;
}
.button_back{
    background-color: white;
}
#contents{
    /* background-color: #90e0ef; */
    width: 600px;
    height: 300px;
    border-style: none;
    background-attachment: local;
    background-image:
    linear-gradient(to right, white 10px, transparent 10px),
    linear-gradient(to left, white 10px, transparent 10px),
    repeating-linear-gradient(white, white 30px, #ccc 30px, #ccc 31px, white 31px);
    line-height: 31px;
    padding: 8px 10px;
    resize: none;
    vertical-align: top;
}
label {
	display:inline-block;
	text-align:center;
	width:80px;
	font-weight:bold;
}
a{
    text-decoration: none;
    color:black;
}
h2{
	margin:-20px 0 20px 30px;
/* 	margin-left:30px; */
	margin-bottom:20px;
}