#img{
    background-image: url("../image/메가스윙.gif");
    background-repeat: no-repeat;
    background-size: cover;
    width:60%;
    height:1050px;
}
#first{
    display:flex;
    flex-wrap:wrap;
}
#mainname{
    font-size:80px;
    font-weight: 700;
    text-align:center;
    width:40%;
    margin-top:230px;
    vertical-align: baseline;
}
#go{
    font-size:30px;
    color: white;
    background-color: #90e0ef;
    padding:10px;
    box-sizing: border-box;
    font-feature-settings: normal;
    font-stretch: 100%;
    font-weight: 400;
    width: 280px;
    vertical-align: middle;
    text-transform: uppercase;
    border-radius: 20px 20px 20px 20px;
}
#img2{
    margin-top:-40px;
}
#listpage{
    padding: 200px;
    height: 800px;
    background-color: #f5f1eb;
    margin-top: 100px;
}
form{
    padding-top:100px;
    float: right;
}
table{
    margin: 0 auto;
    width: 80%;
    height: 400px;
    text-align:center;
}
tbody{
    text-align:center;
}
td{
    width: 200px;
    height: 80px;
    margin-top: 20px;
}
#choose{
    text-align:center;
}
a{
    text-decoration: none;
    color: black;
}
#div1{
    /* text-decoration: line-through; */
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    width: 300px;
    height: 50px;
    margin-left: 150px;
}
#div1 span {
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
}

#div2,#div4{
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    width: 300px;
    height: 50px;
    line-height: 50px;
    margin-left: 150px;
}
#div4{
    width: 240px;;
}
#th1,#th2,#td1,#td2{
    width: 100px;
    margin: 0;
}
#choosebut{
    margin-top: 20px;
    text-align: center;
}
/* th,td{
    padding: 20px;
} */
#td1{
    font-weight: bolder;
    color: black;
    font-size: larger;
    font-stretch: 100%;
    font-weight: 400;
}
form{
    margin-top: -170px;   
    display: flex;
    flex-wrap: nowrap;
}
#select{
    margin-left: 5px;
}
th,#div1,#div2,#div4{
    margin: 0 auto;
    padding: 0 auto;
}
#choosebut>a{
    margin-left: 10px;
}