.parent { /* 전 체 */
    width: 2000;
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    height: 1000px;
    margin: auto;
    
}
.page-main { /* 메 인 */
    grid-column: 2/6;
    grid-row: 2/6;
    color: #242424;
    font-weight: 600;
    text-align: center;
    box-sizing: border-box;
    background-color: #eef6f9;
    height: 100%;
    width:1200px;
}
body{
    width: 1600px;
    margin: 0 auto;
}
