.parent { /* 전체 */
    width: 2000;
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    height: 1000px;
    margin: auto;
    
}
.page-main { /* 메인 */
    grid-column: 1/5;
    grid-row: 2/6;
    color: #242424;
    font-weight: 600;
    text-align: center;
    box-sizing: border-box;
    background-color: #f5f1eb;
    height: 100%;
    width:1600px;
}
body{
    width: 2000px;
    margin: 0 auto;
}
#contents{
    background-attachment: local;
    background-image:
    linear-gradient(to right, white 10px, transparent 10px),
    linear-gradient(to left, white 10px, transparent 10px),
    repeating-linear-gradient(white, white 30px, #ccc 30px, #ccc 31px, white 31px);
    line-height: 31px;
    padding: 8px 10px;
}
.button{
    margin: 0;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: auto;
    border: none;
    border-radius: 4px;

}
